@import '../../sass/controls';

.login__form
{
	display: grid;
	grid-gap: 1rem;
	grid-auto-flow: row;
	width: 32ch;

	@include with-theme()
	{
		xackground-color: rgba(themed(primary-color), 0.05);
		dorder: 1px solid rgba(themed(primary-color), 0.125);
		border-radius: themed(border-radius);

		@include small-screen()
		{
			background-color: transparent;
			border: none;
			border-radius: 0;
		}
	}

	@include small-screen()
	{
		padding:10px;
		width:95%;
	}
}

.login__header
{
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 20px;
	font-weight: 700;

	@include with-theme()
	{
		font-family: themed(accent-font);
	}
}

.login__buttons
{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

.login__button 
{
	margin-top: 1em;
}

.login__error
{
	padding: 20px;
	
	@include with-theme()
	{
		background-color: rgba(themed(error-color), 0.125);
		color: themed(error-color);
		border-radius: themed(border-radius);
		border: 1px solid themed(error-color);
	}

	h3
	{
		font-weight: 600;
		font-size: 1.125em;
		margin-bottom: 1em;

		@include with-theme()
		{
			font-family: themed(accent-font);
		}
	}

	&--transition-enter
	{
		opacity: 0;
		transform: scaleY(0);
	}

	&--transition-enter-active
	{
		opacity: 1;
		transform: scaleY(1);
		transition: opacity 250ms ease-in, transform 250ms linear;
	}

	&--transition-exit
	{
		opacity: 1;
		transform: scaleY(1);
	}

	&--transition-exit-active
	{
		opacity: 0;
		transform: scaleY(0);
		transition: opacity 250ms ease-out, transform 250ms linear;
	}
}