@import '../../sass/theme';

.homepage__lander {
	padding: 80px 0;

	h1 {
		@include with-theme() {
			font-family: themed(primary-font);
		}
		font-weight: 600;
		text-align: center;
		font-size: 2.5rem;
	}

	p {
		@include with-theme() {
			color: themed(accent-color);
		}
		text-align: center;
	}
}