//font-family: 'Open Sans', sans-serif;
//font-family: 'PT Serif', serif;

$primary-color: #333;
$accent-color: #999;
$primary-font: 'Open Sans', sans-serif; 
$accent-font: 'PT Serif', serif;
$border-radius: 6px;
