@import './sass/theme.scss';

:root {
	@include with-theme() {
		font-family: themed(primary-font);
	}
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h5, h5, h6 {
	@include with-theme() {
		font-family: themed(accent-font);
	}
}

body {
	margin: 0;
	padding: 0;
	@include with-theme() {
		font-family: themed(primary-font);
		font-size: themed(root-size);
		color: themed(primary-color);
		background-color: themed(background-color);
	}
}

.scratch-layout {
	display: grid;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	grid-template-areas:
		"header"
		"content";
	grid-template-rows: auto 1fr;
	grid-gap: 10px;
	margin: 15px 40px;

	@media (max-width: 480px) {
		grid-gap: 0px;
		margin: 0;
	}

	nav {
		grid-area: header;
	}

	main { 
		grid-area: content;
		overflow-y: auto;
	}
}

.rootloader
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;

	@include with-theme()
	{
		background-color: themed(background-color);
		color: themed(accent-color);
	}
}

