@import 'sass/theme';

.scratch__navbar 
{
    display: flex;
    justify-content: space-between;
	align-items: center;

	@include with-theme() 
	{
		background-color: rgba(themed(accent-color), 0.125);
		border: 1px solid rgba(themed(primary-color), .125);
		border-radius: themed(border-radius);
		padding: 0px themed(border-radius);

		@include small-screen() 
		{
			border-bottom: 1px solid rgba(themed(primary-color), .125);
		}
	}

	@include small-screen() 
	{
		border-radius: 0px;
		padding: 0;
	}

}	

.scratch__brand 
{
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	margin: 5px 20px;
	transition: all 250ms ease-in-out;

	&:visited 
	{
		font-weight: bold;
	}

	@include with-theme() 
	{
		color: themed(primary-color);
		font-family: themed(accent-font);


		@include if-theme(light) 
		{
			&:hover 
			{
				filter: brightness(1.8);
			}		
		}

		@include if-theme(dark) 
		{
			&:hover 
			{
				filter: brightness(.8);
			}		
		}
	}
}

.scratch__navbuttons 
{
	display: flex;
	align-items: stretch;
	justify-content: flex-end;

	a 
	{	
		outline: none;
		border: none;
		background: none;
		display: flex;
		align-content: center;
		justify-content: center;
		padding: 10px 20px;
		transition: all 250ms ease-in-out;
		text-decoration: none;
		
		@include with-theme() 
		{
			color: themed(accent-color);
			font-family: themed(primary-font);

			&:visited 
			{
				color: themed(accent-color);
			}			

			&:hover 
			{
				background-color: rgba(themed(primary-color), .10);
				color: themed(primary-color);
			}
		}

		@include small-screen() 
		{
			padding: 5px 10px;
			margin-right: 0;
		}
	}
}