@import '../../sass/theme';

.notfound__block {
	display: flex;
	flex-direction: column;
	padding: 80px;

	h3 {
		@include with-theme() {
			color: themed(primary-color);
		}
		text-align: center;
		font-size: 1.5rem;
	}

	p {
		margin-top: 1rem;
		text-align: center;
		@include with-theme() {
			color: themed(accent-color);
		}
	}
}